extends layout 

block content 
    h1= title
    form(action='/new', method='POST')
        label(for='user') Name:
        input(type='text', name='user', id='user')
        label(for='text') Message:
        input(type='text', name='text', id='text')
        input(type='submit', value='Submit')