extends layout 

block content 
    h1= title
    form(action="/new" method="POST")
    p Author Name:
      input(type="text" name="username" placeholder="Enter Your Username ")
    p Message:
      input(type="password" name="password" placeholder="Enter Your Password ")
    input(type="submit")