extends layout

block content
  h1= title
  
    each message in messages
      h1= `Name: ${message.user}`
      p= message.text
      p= `Date: ${message.added}`
  button(onclick="window.location.href='new'") form