extends layout

block content
  .title
    h1= title
  
  each message in messages
    .messagess
      h1= `Name: ${message.user}`
      p= message.text
      p= `Posted: ${message.added}`
  button(onclick="window.location.href='new'") New Message